@page "/register"
@using ProjectManagement.Shared;
@using ProjectManagement.Client.Services;
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 pb-0 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Регистрация</h2>
                            <p class="text-white-50 mb-5">Пожалуйста, заполните форму!</p>

                            <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="registerRequest">
                                <DataAnnotationsValidator />

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <InputText id="inputLogin" class="form-control form-control-lg" placeholder="Login" @bind-Value="@registerRequest.Login" />
                                    <ValidationMessage For="@(() => registerRequest.Login)" />
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <InputText id="inputFirstName" class="form-control form-control-lg" placeholder="Имя" @bind-Value="@registerRequest.FirstName" />
                                    <ValidationMessage For="@(() => registerRequest.FirstName)" />
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <InputText id="inputLastName" class="form-control form-control-lg" placeholder="Фамилия" @bind-Value="@registerRequest.LastName" />
                                    <ValidationMessage For="@(() => registerRequest.LastName)" />
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <InputText id="inputRole" class="form-control form-control-lg" placeholder="Роль" @bind-Value="@registerRequest.Role" />
                                    <ValidationMessage For="@(() => registerRequest.Role)" />
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <InputText id="inputTelegramChatId" class="form-control form-control-lg" placeholder="ТелеграмId" @bind-Value="@registerRequest.TelegramChatId" />
                                    <ValidationMessage For="@(() => registerRequest.TelegramChatId)" />
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <InputText type="password" id="inputPassword" class="form-control form-control-lg" placeholder="Пароль" @bind-Value="@registerRequest.Password" />
                                    <ValidationMessage For="@(() => registerRequest.Password)" />
                                </div>

                                <div data-mdb-input-init class="form-outline form-white mb-4">
                                    <InputText type="password" id="inputPasswordConfirm" class="form-control form-control-lg" placeholder="Подтверждение пароля" @bind-Value="@registerRequest.PasswordConfirm" />
                                    <ValidationMessage For="@(() => registerRequest.PasswordConfirm)" />
                                </div>

                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5 mb-2" type="submit">Создать аккаунт</button>

                                <label class="text-danger">@error</label>
                            </EditForm>

                            <div>
                                <p class="mb-0">Уже есть аккаунт? <NavLink href="login" class="text-white-50 fw-bold">Войти</NavLink></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@functions {
    RegisterRequest registerRequest { get; set; } = new RegisterRequest();
    string error { get; set; }
    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Register(registerRequest);
            navigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}